.pagination {
    display: flex;
    justify-content: center;
    align-items: center;

}

.pagination .page-item i {
    font-size: 12px;
    /* Ok ikonunun boyutunu ayarla */
    color: #333;
    /* Ok rengini ayarla */
}

.pagination {
    height: 35px;
    border-radius: 0 !important;
}

.pagination .page-item-middle a{
    border: 0 !important;
}

.pagination .page-item-left a ,
.pagination .page-item-right a {
    display: block;
    padding: 8px;
    display: flex;
    justify-content: center;
    border-top-right-radius: 100% !important;
    border-bottom-right-radius: 100% !important;
    border-radius: 50% !important;
    align-items: center;
}

/* Sağ ve sol okların stilini tanımla */
.pagination .page-item-left,
.pagination .page-item-right {
    background-color: #e8e8e8;
    border-radius: 50% !important;
    width: 30px;
    border: none;
    margin: 0 10px;
    transition: background-color 0.3s;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination .page-item-left:hover,
.pagination .page-item-right:hover {
    background-color: #dcdcdc;
}
.pagination .page-item:hover,
.pagination .page-item .page-link:hover{
    background-color: white !important;
    background: white !important;
}

.pagination .page-item:hover i,
.pagination .page-item .page-link:hover i,
.pagination .page-item:hover a,
.pagination .page-item .page-link:hover a{
    color:#EA2B2E !important
}
/* Font Awesome simgelerinin rengini belirle */
.pagination .page-item-left i,
.pagination .page-item-right i {
    color: #333;
    /* Başlangıçta simge rengi */
    transition: color 0.3s;
    /* Geçiş efekti ekle */
}

/* Sağ ve sol okların üzerine gelindiğinde simge rengini beyaza dönüştür */
.pagination .page-item-left:hover i,
.pagination .page-item-right:hover i {
    color: white;
}

.totalPriceCode {
    color: #007bff;
}

.trStyle,
.trStyle tr {
    display: flex;
    flex-wrap: wrap;
}

.trStyle tr {
    width: 50%;
}

.trStyle tr td {
    display: flex;
    justify-content: space-between;
     width: 100%;
    font-size: 11px;
    border: 1px solid #dee2e6;
    width: 100%;
}

.mobile-action-move {
    display: flex;
    align-items: center;
    justify-content: space-evenly
}

.mobileMovePrice h4 {
    font-size: 18px;
    font-weight: 700;
    color: #274abb;
    display: flex;
    width: 100%;
    margin-bottom: 0;
    align-items: center;
    justify-content: center;
    text-transform: capitalize !important;
}

@media (max-width:768px) {
    .list-group-item.bg-light {
        width: 100%
    }

    .mobile-action {
        margin-left: 10px
    }

    .flex-mobile {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .mobile-action-move h4 {
        font-size: 18px;
        font-weight: 700;
        color: #274abb;
        display: flex;
        width: 100%;
        margin-bottom: 0;
        align-items: center;
        justify-content: center;
        text-transform: capitalize !important;
    }

    .buttons {
        margin-right: 10px
    }


    .detail-wrapper-body,
    .mobile-action {
        display: flex;
        align-items: center;
        justify-content: center
    }

    .listing-title-bar {
        color: black;
        font-size: 12px !important;
        width: 100%;
        display: block;
        text-align: left;
    }

    .brand-head {
        margin-bottom: 0 !important;
    }

    .listingDetailsSliderNav {
        display: none !important;
    }

    #listingDetailsSlider {
        padding: 0 !important;
        margin-bottom: 30px !important;
    }

    .schedule.widget-boxed,
    .add-to-collections-wrapper {
        margin-bottom: 30px !important;
    }

    .trStyle tr {
        width: 100%;
    }

    .removeClass {
        margin-bottom: 20px
    }
}

.flatpickr-day.flatpickr-disabled,
.flatpickr-day.flatpickr-disabled:hover {
    background: #f8e7e7;
}

.flatpickr-calendar.inline,
.flatpickr-rContainer,
.flatpickr-days,
.dayContainer {
    width: 100% !important;
    max-width: 100% !important;
}

.dayContainer {
    padding: 12px !important;
}

.rating-area .rating.selected polygon {
    fill: gold;
    stroke: gold
}

#totalPrice {
    color: #274abb;
    font-weight: 600;
}

.altSlider {
    width: 100%;
    height: 85px !important;
    padding: 0 !important;
    margin: 0 !important;
}