.header-top {
    background: black;
}

#main-menu ul li a:hover {
    background: black;
}

#main-menu .dropdown-menu a:hover {
    background: black;
}

.bloq-search input[type="text"] {
    border: 1px solid black;
}

.bloq-search input[type="submit"] {
    background: black;
}

.google-maps .filter {
    background: black;
}

.section-title:before {
    background-color: black;
}

.section-title h2 {
    color: black;
}

.recently .homes-content .homes-list li {
    color: black;
}

.recently .homes-content .homes-list li i {
    color: black;
}

.first-footer .bloq-email .email input[type="submit"] {
    background: black;
}

#navigation.style-1 .current {
    color: black;
}

#navigation.style-1 ul li:hover {
    background: black;
}

#navigation.style-1 ul li.active {
    background: transparent;
}

#navigation.style-1 ul li.active a {
    color: black;
}

.twitter-widget.contuct .twitter-area .text h5 a {
    color: black;
}

.first-footer .contactus ul li .fa {
    color: black;
}

.first-footer .newsletters h3::after {
    background: black;
}

a.button.border,
a.button {
    background: black;
}

.slick-prev:hover,
.slick-next:hover {
    color: transparent;
    outline: none;
    background: black;
}

.welcome-title h2 span,
.welcome-title h2 span {
    color: black;
}

.welcome .popup-youtube {
    color: black;
}

.welcome .wprt-image-video .iq-waves .waves {
    background: rgb(24, 186, 96) none repeat scroll 0 0 padding-box;
}

.services-home .bg-base {
    background: black;
}

.services-home a.text-base {
    color: black;
}

.portfolio .homes-content .homes-list li {
    color: black;
}

.portfolio .homes-content .homes-list li i {
    color: black;
}

.top-location .owl-theme .owl-nav [class*=owl-] {
    background: black;
}

.blog-section .news-item a:hover h3 {
    color: black;
}

.blog-section .news-link {
    color: black;
}

.testimonials .test-1 p::before {
    color: black;
}

.testimonials .test-1 h3 {
    color: black;
}

.owl-dot.active {
    background: black !important;
}

.counterup .countr .fa {
    color: black;
}

.realhome_subscribe input {
    border-color: black;
}

.realhome_form_subscribe button {
    background: black;
    border: 2px solid black;
}

.first-footer .netabout h3::after,
.first-footer .navigation h3::after,
.first-footer .widget h3::after,
.first-footer .contactus h3::after {
    background-color: black;
}

.first-footer .btn {
    background: black;
}

.first-footer .btn:hover {
    background: transparent;
}

.navigation ul li a:hover {
    color: black;
}

.twitter-widget.contuct .twitter-area .icon-holder i {
    color: black;
}

.twitter-widget.contuct .twitter-area .text h4,
.inner-pages .twitter-widget.contuct .twitter-area .text h4 {
    color: black;
}

.second-footer {
    background: #2D2D2D;
}

.go-up {
    background: #274abb;
}


.btn-default.btn-theme-colored2:hover {
    background: black;
}

.text-theme-colored2 {
    color: black !important;
}

.btn-dark.btn-theme-colored {
    background-color: black;
}

.parallax-search .form-group .nice-select:hover {
    color: black;
}

.parallax-search .form-group .nice-select i {
    color: black;
}

.parallax-search .form-group .list li:hover {
    background: black;
}

.parallax-search .form-group .btn {
    background: black;
}

.inner-pages .blog .active-view-btn:hover {
    background: black !important;
}

.inner-pages .change-view-btn:hover {
    color: black !important;
}

.inner-pages .blog .block-heading .change-view-btn.lde:hover {
    background: black;
}

.inner-pages .blog .section-heading .media .media-left i {
    background: black;
}

.inner-pages .blog .main-search-field select {
    background: black;
}

.inner-pages .blog .at-input {
    border: 2px solid black;
}

.inner-pages .blog .ui-widget.ui-widget-content {
    background: black;
}

.inner-pages .blog .hvr-bounce-to-right {
    background: black;
}

.inner-pages .portfolio .footer i {
    color: black;
}

.inner-pages .recent-post .tags a:hover {
    color: black;
    border-color: black;
}

.page-item.active .page-link {
    background: black;
    border-color: black;
}

.page-link {
    color: black;
}

.inner-pages .blog .homes-content.details-2 .fa {
    color: black;
}

.inner-pages .blog .sorting-options h5 {
    color: black;
}

.inner-pages .blog .homes-content h5::after,
.inner-pages .blog .blog-info.details h5::after,
.inner-pages .blog .property-location h5::after,
.inner-pages .blog .team.assigned h5::after {
    color: #EA2B2E  ;
    background-color: #EA2B2E;
}

.inner-pages .blog .homes-content.details .fa {
    color: #EA2B2E;
}

.inner-pages .button.alt {
    background-color: black;
}

.inner-pages .agent-details a:hover {
    color: black;
}

.inner-pages .agent-details .fa {
    color: black;
}

.inner-pages .about-us .who-1 h2 span {
    color: black;
}

.inner-pages .about-us .wprt-image-video .icon-wrap {
    background-color: black;
}

.bg-2 .button {
    border-color: black;
}

.inner-pages .panel .panel-heading a {
    background: black;
}

.plan-price {
    background: black;
}

.plan-price:after {
    border-top-color: black;
}

.plan a.btn {
    background: black;
}

.inner-pages .top-headings h2 {
    color: black;
}

.inner-pages .port-info .btn {
    background: #fa2964;
    border: 1px solid black;
}

#login .btn_1,
a.btn_1 {
    background: black;
}

.inner-pages .blog .social .date {
    background-color: black;
}

.blog-pots figure {
    background: black;
}


.btn-secondary {
    background: black;
}

.single-blog-post .img-box .overlay {
    background: rgba(24, 186, 96, 0.8);
}

.inner-pages .input-group-btn .btn-primary {
    background: black;
    border: 1px solid black;
}

.inner-pages .input-group-btn .btn-primary:hover {
    color: black;
}

.inner-pages .comments-info h5 {
    color: black;
}

.inner-pages .comments h3::after,
.inner-pages .leve-comments h3::after {
    background-color: black;
}

.inner-pages .leve-comments .btn {
    background: black;
    border: 1px solid black;
}

.inner-pages .leve-comments .btn:hover {
    border: 1px solid black;
}

.inner-pages .contact-us .btn {
    background: black;
    border: 1px solid black;
}

.inner-pages .contact-us .btn:hover {
    border: 1px solid black;
}

.inner-pages .call-info h3::after {
    background-color: black;
}

.inner-pages .call-info ul li .fa {
    color: black;
}

.inner-pages .single-add-property>h3 {
    color: black;
}

.inner-pages .prperty-submit-button>button {
    background: black none repeat scroll 0 0;
}

.leaflet-div-icon,
.map-marker {
    background-color: black;
    border: 5px solid black;
}

.leaflet-div-icon:before,
.map-marker:before {
    border-top-color: black;
}

.listing-window-image:before {
    background-color: black;
}

.listing-window-content h3 {
    background-color: black;
}


/*------ BUTTOM HOVER EFFECT ------*/

.bg-all {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.7rem;
    transition: all .3s ease;
}

@media screen and (max-width: 767px) {
    .bg-all {
        margin-top: 10px !important;
    }
}

.btn.btn-outline-light {
    background-color: black;
    color: #fff;
    border-color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 3rem;
    padding: .9rem 2.5rem .9rem 2rem;
    transition: all .3s ease;
}

.btn.btn-outline-light:after {
    content: '\f0a9';
    font-family: 'FontAwesome';
    position: relative;
    left: .5rem;
    transition: all .2s ease;
}

.btn.btn-outline-light:hover:after {
    left: 1rem;
    color: #fff;
    transform: rotateZ(-360deg);
}

section.pricing-table {
    padding: 6rem 0;
    background: #fff;
}

.blog-section .action-list .fa-comment {
    color: black;
}

.blog-section .action-list .fa-share-alt {
    color: black;
}

.blog-section .action-list .fa-heart {
    color: black;
}

.section-title:before {
    background-color: black;
}

.info-help .info-head .info-text .btn-pro {
    background: black;
}

.slick-dots li.slick-active {
    box-shadow: inset 0 0 0 6px black;
}

.slick-dots li {
    color: black;
    box-shadow: inset 0 0 0 2px black;
}

.slick-dots li:after {
    background-color: black;
}

.newsletters p,
.first-footer .netabout p {
    color: #666;
}

.first-footer .contactus .info p {
    color: #e9e8e8;
}

.first-footer .contactus ul li .fa,
.first-footer h3,
.navigation ul li a,
.twitter-widget.contuct .twitter-area .icon-holder i,
.twitter-widget.contuct .twitter-area .text h5 {
    color: #ffffff;
}

.first-footer .bloq-email .email input[type="email"] {
    border: 1px solid black;
    background: #282d32;
    color: #fff;
}

.second-footer p {
    color: #ffffff;
}

.second-footer p .fa-heart:before {
    color: black;
}